---
import Layout from "../layouts/Layout.astro"
import { Content as AboutContent } from "../markdown/about.md"
---

<Layout title="About">
	<div class="flex justify-center items-center h-screen w-screen">
		<main class="flex flex-row gap-5 mobile:flex-col desktop:flex-row desktop:w-auto mobile:w-9/10 desktop:items-start mobile:items-center">
			<section>
				<a href="/">
					<div class="rounded-full overflow-hidden size-45 transition-all" transition:name="profile">
						<img src="/profile80.webp" alt="Picture of me">
					</div>
				</a>
			</section>
			<section class="text-white grow flex justify-center flex-col gap-2 desktop:max-w-2xl mobile:max-w-9/10">
				<h1 class="desktop:text-4xl mobile:text-4xl" transition:name="name">
					Quirin Ecker
					<a href="https://github.com/quirinecker" class="btn btn-square">
						<img height="20" src="https://cdn.simpleicons.org/github/ffffff?viewbox=auto" class="size-3/4"/>
					</a>
				</h1>
				<div class="prose">
					<AboutContent/>
				</div>
			</section>
		</main>
	</div>
</Layout>

<script src="../utils/escapeKeybind.ts"></script>
