---
import Layout from "../layouts/Layout.astro"
---

<Layout>
	<div class="flex justify-center items-center h-screen w-screen">
		<main class="flex flex-row gap-5">
			<section>
				<img src="/profile.png" alt="Picture of me" class="rounded-full overflow-hidden size-45 transition-all" transition:name="profile">
			</section>
			<section class="text-white grow flex justify-center flex-col gap-2 max-w-[33vw]">
				<h1 class="text-4xl" transition:name="name">Quirin Ecker <a href="https://github.com/quirinecker" class="btn btn-square"><img height="20" src="https://cdn.simpleicons.org/github/ffffff?viewbox=auto" class="size-3/4"/></button></a>
				<p class="text-base text-neutral-content">
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta eligendi rerum assumenda laboriosam. Dolore reprehenderit necessitatibus ea culpa praesentium deserunt omnis aut, voluptatem labore quae nostrum cupiditate error commodi? Accusamus.
				</p>
			</section>
		</main>
	</div>
</Layout>
