---
import Layout from "../layouts/Layout.astro"
import BlogCard from "../components/BlogCard.astro";
import { Newspaper } from "@lucide/astro";
import type { MarkdownInstance } from "astro";

const blogs
	= Object.entries(import.meta.glob<MarkdownInstance<{title: string, banner: string, description: string}>>('../markdown/blogs/*.md', {eager: true}))

---

<Layout title="Blog">
	<div class="flex flex-col gap-5">

		<nav class="w-full p-5">
			<a href="/" class="w-full flex flex-row gap-5">
				<div class="rounded-full overflow-hidden size-16 transition-all" transition:name="profile">
					<img src="/profile80.webp" alt="Picture of me">
				</div>
				<div class="flex flex-col justify-center" >
					<h1 class="text-2xl" transition:name="name">Quirin Ecker</h1>
					<h2 class="text-primary flex items-center gap-1" transition:name="projects"><Newspaper class="size-4"/> Blog</h2>
				</div>
			</a>
		</nav>

		<div class="w-full flex justify-center items-center">
			<main class="desktop:w-8/10 mobile:w-9/10 flex flex-row justify-center flex-wrap gap-3">
				{blogs.length === 0 && <div class="text-center text-accent">No Blogs are available at this moement</div>}
				{blogs.map(([_, blog]) => <BlogCard blog={blog} />)}
			</main>
		</div>

		<footer class="border-t-accent">

		</footer>
	</div>
</Layout>

<script src="../utils/escapeKeybind.ts"></script>
