---
import Layout from "../layouts/Layout.astro"
import { BookMarked } from "@lucide/astro";
import type { Project } from "../utils/types";
import ProjectCard from "../components/ProjectCard.astro";

const projects: Project[] = [
	{ name: "quirinecker/dotfiles", picture: "/dotfiles.png" },
	{ name: "quirinecker/docki", picture: "/docki.png" },
	{ name: "quirinecker/dayplanner", picture: "/dayplanner.png" },
	{ name: "quirinecker/dwa", picture: "/dwa.png" },
	{ name: "implodium/implo-invite", picture: "/implo_invites.png" },
	{ name: "implodium/implo-place", picture: "/implo_place.png" },
	{ name: "implodium/implo-vote-web", picture: undefined}
]
---

<Layout title="Projects">
	<div class="flex flex-col gap-5">

		<nav class="w-full p-5">
			<a href="/" class="w-full flex flex-row gap-5">
				<div class="rounded-full overflow-hidden size-16 transition-all" transition:name="profile">
					<img src="/profile80.webp" alt="Picture of me">
				</div>

				<div class="flex flex-col justify-center" >
					<h1 class="text-2xl" transition:name="name">Quirin Ecker</h1>
					<h2 class="text-primary flex items-center gap-1" transition:name="projects"><BookMarked class="size-4"/> Projects</h2>
				</div>
			</a>
		</nav>

		<div class="w-full flex justify-center items-center">
			<main class="desktop:w-8/10 mobile:w-9/10 tiny:w-9/10 flex flex-row justify-center flex-wrap gap-3">
				{projects.map(project => <ProjectCard project={project} />)}
			</main>
		</div>

		<footer class="border-t-accent">

		</footer>
	</div>
</Layout>

<script src="../utils/escapeKeybind.ts"></script>
