---
import type { MarkdownInstance } from 'astro';

interface Props {
	blog: MarkdownInstance<{ title: string, banner: string, description: string }>;
}

const { blog } = Astro.props;
console.log(blog.frontmatter)
---

<section class="card bg-base-100 w-70 shadow-sm flex flex-col overflow-hidden">
	<div class="aspect-video w-full bg-cover" class:list={blog.frontmatter.banner ? ['with-image'] : ['bg-primary']}>
	</div>
	<div class="card-body">
		<h1 class="card-title"> <a href={blog.file} class="link"> {blog.frontmatter.title} </a></h1>
		<p>{blog.frontmatter.description}</p>
	</div>
</section>

<style define:vars={{banner: `url(${blog.frontmatter.banner})`}}>

.with-image {
	background-image: var(--banner);
}

</style>
