---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro View Transition Demo</title>
  </head>
  <body class="bg-background min-h-screen">
	<ClientRouter fallback="none"/>
    <slot />
  </body>
</html>

