---
import "../styles/global.css";
---

<html lang="en" transition-direction="forward">
  <head>
    <meta charset="UTF-8" />
    <title>Astro View Transition Demo</title>
  </head>
  <body class="flex items-center justify-center h-screen bg-background">
    <slot />
  </body>
</html>

