---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Astro View Transition Demo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Quirin Ecker's personal website">
  </head>
  <body class="bg-background min-h-screen">
	<ClientRouter fallback="none"/>
    <slot />
  </body>
</html>

